@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: rgb(89, 89, 253);
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

.card {
  color: blanchedalmond;
  background-color: #000000ce;
  padding: 1em;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 24px;
  background-color: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 120%;
  width: calc(100% - 100px);
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 46px;
  width: 46px;
  outline: none;
  color: white;
  background-color: #7c7c7c2b;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 120%;
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.5em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 5px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading";
  columns: white;
  position: absolute;
  top: 0;
  left: 20px;
}
